* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  background-color: rosybrown;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 95vh;
}
.heading {
  padding: 15px;
  font-size: 3rem;
  font-family: "Courier New", Courier, monospace;
}
.cover {
  border: 5px black solid;
  width: 50%;
  height: 60vh;
}
.title {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 1.5rem;
}
progress {
  width: 40%;
  padding: 5px;
}
.controllers {
  padding: 10px;
  width: 100%;
  align-items: center;
  text-align: center;
  justify-content: space-evenly;
}
.playBtn {
  height: 70px;
  width: 70px;
  cursor: pointer;
}
.preBtn,
.nextBtn {
  width: 40px;
  height: 40px;
  cursor: pointer;
}
.repeat,
.shuffle {
  width: 30px;
  height: 30px;
  cursor: pointer;
}
/*Footer Section*/
footer {
  background-color: black;
  color: aliceblue;
  align-items: center;
  text-align: center;
  height: 5vh;
}
.copyright {
  padding: 10px;
}
